    
    <header>
<div class="navbar">
    <div class="logo"><a href="#"> Rodridev</a></div>
    <ul class="links">
        <li><a href="/realtimeproducts">Admin</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>   

    <a href="#" class="action_btn"><i class="fa-solid fa-star" style="color: #d8ca6f;"></i> &nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i>&nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i></a>

    <div class="toggle_btn">
    <i class="fa-solid fa-bars-staggered"></i>   
    </div>
    </div>


<div class="dropdown_menu ">
        <li><a href="/realtimeproducts">Admin</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="services">Cart</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="#" class="action_btn"><i class="fa-solid fa-star" style="color: #d8ca6f;"></i> &nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i>&nbsp;<i class="fa-solid fa-star" style="color: #d8ca6f;"></i></a></li>
</div>
</header>


<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

toggleBtn.onclick = function () {
    dropDownMenu.classList.toggle('open')
    const isOpen = dropDownMenu.classList.contains('open')

    toggleBtnIcon.classList = isOpen 
    ? 'fa-solid fa-xmark'
    :'fa-solid fa-bars-staggered'
}

</script>

    
    
    
    
    {{#if user}}

    <h2>Welcome , {{user.firstName}} {{user.lastName}}</h2>
    <p>Email: {{user.email}}</p>
    {{#if user.isAdmin}}
        <p>Role: Admin</p>
    {{else}}
        <p>Role: User</p>
    {{/if}}

    <p>Please log in to view the products.</p>
{{/if}}



<h2><strong>All Products</strong></h2>

{{#each products}}


    <div class="container d-flex justify-content-center mt-50 mb-50">
            
        <div class="row">
            <div class="col-md-10">
            
                <div class="card card-body">
                            <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                                <div class="mr-2 mb-3 mb-lg-0">
                                    
                                        <img src="{{this.thumbnail}}" width="150" height="150" alt="">
                                    
                                </div>

                                <div class="media-body">
                                    <h6 class="media-title font-weight-semibold">
                                        <a href="#" data-abc="true">{{this.title}}</a>
                                    </h6>

                                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{this.category}}</a></li>
                                        <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{this.code}}</a></li>
                                    </ul>

                                    <p class="mb-3">{{this.description}} </p>

                                    <ul class="list-inline list-inline-dotted mb-0">
                                        <li class="list-inline-item">All items from <a href="#" data-abc="true">stock:{{this.stock}}</a></li>
                                        <li class="list-inline-item">View <a href="products/{{this._id}}">{{this._id}}</a></li>
                                    </ul>
                                </div>

                                <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                                    <h3 class="mb-0 font-weight-semibold">${{this.price}}</h3>

                                    <div>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>

                                    <div class="text-muted">availability:{{this.availability}}</div>

                                    <button  class="btn btn-primary mt-4 text-white" onclick="putIntoCart('{{this._id}}')" > Add to cart{{this._id}}</button>
                                </div>
                            </div>
                        </div>
        </div>                     
        </div>

    </div>

{{/each}}

<div class="pagination">
  {{#if prevLink}}
    <a class="apage"  href="{{prevLink}}">Previous</a>
  {{/if}}

  {{#if nextLink}}
    <a  class="apage" href="{{nextLink}}">Next</a>
  {{/if}}

</div>

totalPages:
{{totalPages}}
prevPage:
{{prevPage}}
nextPage:
{{nextPage}}
currentPage:
{{currentPage}}
hasPrevPage:
{{hasPrevPage}}
hasNextPage:
{{hasNextPage}}
prevLink:
{{prevLink}}
nextLink:
{{nextLink}}
